<h1>Weapons</h1>

<%= form_tag(weapons_path, method: "get") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Weapons" %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @weapons.each do |weapon| %>
    <li>
      <%= link_to weapon.name, weapon_path(weapon) %>
    </li>
  <% end %>
</ul>
<%= paginate @weapons %>