<h1>Weapons</h1>

<%= form_tag weapons_path, method: :get do %>
  <%= label_tag :search, "Search by name:" %>
  <%= text_field_tag :search, params[:search] %>

  <%= label_tag :type, "Filter by type:" %>
  <%= select_tag :type, options_for_select(@types, params[:type]) %>

  <%= submit_tag "Filter" %>
<% end %>

<ul>
  <% @weapons.each do |weapon| %>
    <li>
      <%= link_to weapon.name, weapon_path(weapon) %>
    </li>
  <% end %>
</ul>
<%= paginate @weapons %>