<h1><%= @weapon.name %></h1>
<p>Type: <%= @weapon.type %></p>
<p>Rarity: <%= @weapon.rarity %></p>
<p>Attack Power: <%= @weapon.attack_power %></p>

<% if @weapon.element.present? %>
  <p>Element: <%= @weapon.element %></p>
<% end %>

<% if @weapon.affinity %>
  <p>Affinity: <%= @weapon.affinity %>%</p>
<% end %>

<% sharpness_html = sharpness_bar(@weapon.durability) %>
<% if sharpness_html %>
  <p>Sharpness: <%= sharpness_html %></p>
<% end %>

<% if @weapon.slots.present? %>
  <p>Decorations:</p>
  <ul>
    <% @weapon.slots.each do |slot| %>
      <li>Slot Level: <%= slot["rank"] %></li>
    <% end %>
  </ul>
<% end %>

<% if @weapon.weapon_crafting_materials.any? %>
  <p>Materials:</p>
  <ul>
    <% @weapon.weapon_crafting_materials.each do |material| %>
      <li><%= "#{material.crafting_material.name}: #{material.quantity}" %></li>
    <% end %>
  </ul>
<% end %>

<!-- Testing for 3.4 req -->

<% if @weapon.crafting_materials.any? %>
  <h3>Crafting Materials:</h3>
  <ul>
    <% @weapon.crafting_materials.each do |material| %>
      <li><%= link_to material.name, crafting_material_path(material) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back to Weapons List', weapons_path %>

