<%= debug @armor %>


<h1><%= @armor.name %></h1>
<p>Type: <%= @armor.type %></p>
<p>Defense: <%= @armor.defense %></p>
<p>Resistance: <%= @armor.resistance %></p>
<p>Slot: <%= @armor.slots %></p>
<!-- Add other relevant attributes -->
<%= link_to 'Back to All Armors', armors_path %>
