<h1><%= @armor.name %></h1>
<p>Type: <%= @armor.type %></p>
<p>Defense: <%= @armor.defense %></p>
<p>Rank: <%= @armor.rank %></p>

<% if @armor.skills.present? %>
  <p>Skills:</p>
  <ul>
    <% @armor.skills.each do |skill| %>
      <li><%= "#{skill['name']}: #{skill['description']}" %></li>
    <% end %>
  </ul>
<% end %>

<% if @armor.resistances.present? %>
  <p>Resistances:</p>
  <ul>
    <% @armor.resistances.each do |type, value| %>
      <li><%= "#{type.capitalize}: #{value}" %></li>
    <% end %>
  </ul>
<% end %>

<% if @armor.slots.present? %>
  <p>Decorations:</p>
  <ul>
    <% @armor.slots.each do |slot| %>
      <li>Slot Level: <%= slot["rank"] %></li>
    <% end %>
  </ul>
<% end %>


<!-- Testing for 3.4 req -->

<h3>Crafting Materials:</h3>
<ul>
  <% @armor.armor_crafting_materials.each do |armor_material| %>
    <li><%= link_to armor_material.crafting_material.name, crafting_material_path(armor_material.crafting_material) %></li>
  <% end %>
</ul>

<%= link_to 'Back to All Armors', armors_path %>

