<!DOCTYPE html>
<html lang="en">
<head>
  <title>Monster Hunter World Nav Menu</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body style="background-image: url(<%= asset_pack_path 'media/images/mhwbr.jpg' %>);">
<section class="section">
  <div class="container box-container">
    <nav class="level">
      <%= link_to 'Home', root_path, class: "level-item" %> |
      <%= link_to 'About', about_path, class: "level-item" %> |
      <%= link_to 'Armor', armors_path, class: "level-item" %> |
      <%= link_to 'Weapons', weapons_path, class: "level-item" %>|
      <%= link_to 'Crafting Materials', crafting_materials_path, class: "level-item" %>
    </nav>

    <%= yield %>
  </div>
</section>
</body>
</html>
